<div class="top-nav" id="myTopNav">
      <h href="#home" >Home</h>
      <a href="#contact">Contact us</a>
      <a href="#team">Our Team</a>
      <a href="#career">Career</a>
      <a href="#about">About us</a>
      <a  class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
</div>