// Colors

// red
$red: #EE2438;

// gray
$gray-name: #333333;
$gray-contact: #4A4A4A;
$gray-body: #4F4F4F;
$gray-title: #44494C;
$gray-subtitle: #5C5C5C;
$gray-role: #828282;
$gray-border: #6E6E6E;
// white
$white: #FFFFFF;

// Font 

// font-family
$font-josefin-sans: 'Josefin Sans', sans-serif;
$font-muli: 'Muli', sans-serif;

// font-size
$h1-font-size: 45px;